<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uploaded</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            background-color: #ebebbc;
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
    </style>
</head>
<body>
<h2>Submitted File</h2>
<table>
    <tr>
        <th>Name</th>
        <th>email</th>
        <th>flag</th>
    </tr>
    <!--/*@thymesVar id="users" type="ru.javaops.masterjava.model.User"*/-->
    <tr th:each="user : ${users}">
        <td th:text="${user.fullName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.flag}"></td>
    </tr>
</table>
</body>
</html>